* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

#container {
  width: 100%;
  height: 120px;
}

#header {
  width: 100%;
  height: 120px;
  background-color:aliceblue;
  display :block;
  color: skyblue;
}

#left-sidebar {
  width: 300px;
  height: 600px;
  background-color: rgb(154, 203, 226);
  float: left;
  text-align: center;
}

#home-contents {
  width: 900px;
  height: 600px;
  background-color: white;
  float: left;
  font-size : 50px;
  padding-top: 175px;
  margin-left: 10px;
  color: rgb(61, 171, 223);
  text-align: center;
}

#footer {
  width: 100%;
  height: 100px;
  background-color: aliceblue;
  clear: left;
  font-size: 14px;
  color: rgb(71, 71, 151);
  text-align: center;
  text-shadow: none;
}

.navi ul li {
  float: right;
  width: 150px;
  padding: 10px;
  list-style: none;
}

.navi a:link, .navi a:visited {
  display: block;
  font-size: 16px;
  color: #000;
  padding: 10px;
  text-decoration: none;
  text-align: center;
} 

.navi a:hover, .navi a:focus {
  background-color: #222;
  color: #fff;
}

.navi a:active {
  background-color: #f00;
}

#profile-contents {
  font-size: 30px;
  margin-left: 350px;
  margin-top: 110px;
}

#left-sidebar-text {
  margin-top: 80%;
  font-size : 30px;
}

#portfolio-contents {
  font-size: 30px;
  margin-left: 0px;
  margin-top: 230px;
}

#introduce-contents {
  font-size: 30px;
  
}

#view1 {
  position: absolute;
  left: 300px;
  top: 150px;
}

#view2 {
  position: absolute;
  left: 300px;
  top: 500px;
}

#view3 {
  position: absolute;
  left: 800px;
  top: 150px;
}